.bottom-panel {
    position: absolute;
    background-color: black;
    bottom: 0;
    height: 40px;
    width:100%;
    font-weight: normal;
    font-size: 19px;
    padding-top: 5px;
    opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
}

.image-row {
    margin-bottom:10px;
    width: 100%;
    text-align: center;
}
.circular {
    height: 85px;
    width: 85px;
    border-radius: 50%;
    /* box-shadow: 0 0 8px rgba(0, 0, 0, .8); */
    /* outline: 2px solid #000000; */
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

.hovereffect {
    width: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    border: 1px;
}

.hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    font-weight:900;
    text-shadow: 0px 0px 3px #000;
    font-size:17px;
    color: white;
}

.hovereffect img {
    width: 100%;
    display: block;
    position: relative;
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
    filter: grayscale(1) blur(3px);
    -webkit-filter: grayscale(1) blur(3px);
}

.hovereffect:hover img {
    filter: grayscale(0) blur(0px);
    -webkit-filter: grayscale(0) blur(0px);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.hovereffect h2 {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
}

.hovereffect a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    border: 1px solid #fff;
    margin: 50px 0 0 0;
    background-color: transparent;
}

.hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
}

.hovereffect a.info, .hovereffect h2 {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
    opacity: 0;
    filter: alpha(opacity=0);
    color: #fff;
    text-transform: uppercase;
}

.hovereffect:hover a.info, .hovereffect:hover h2 {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.image {
	box-shadow: 0px 0px 9px 0px rgba(50, 50, 50, 0.51);
	width:100%;
	margin-bottom: 15px;
}
.box {
    padding: 10px 25px 10px 25px;
}

.row-offset-0 {
    margin-left: 0;
    margin-right: 0;
}
.row-offset-0 > * {
    padding-left: 0;
    padding-right: 0;
}

.row-offset-1 {
    margin-left: 0px;
    margin-right: 7px;
}
.row-offset-1 > * {
    padding-left: 0px;
    padding-right: 7px;
}

.buy {
    margin-top:8px;
    padding-top:10px;
    font-size:19px;
    font-weight: bold;
    color:red;
    display: inline-block;
    width: 200px;
    height: 50px;
    text-align: center;
	background-color: yellow;

}

.buy:hover {
    background-color: #abe27c;
}

.pret {
	background-color: #78D74C;
    text-align: center;
    color:white;

    width: 150px;
    height:33px;
    display: inline-block;
    padding-top: 5px;
    margin-top: 5px;
}

/* custom inclusion of right, left and below tabs */

.tabs-left > .nav-tabs {
    border-bottom: 0;
    background-color: #78D74C;
    font-weight: bold;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
    display: none;
}

.tab-content > .active,
.pill-content > .active {
    display: block;
    padding: 10px;
}

.tabs-left > .nav-tabs > li {
    float: none;
}

.tabs-left > .nav-tabs {
    float: left;
    margin-right: 19px;
}

.tabs-left > .nav-tabs > li > a {
	min-width: 74px;
	height: 60px;
	padding-top: 20px;
	margin-right: -1px;
	border-radius: 3px 0 0 3px;
	color: white;
	border-color: #79B92B;
	border-width:1px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
	border-color: #eeeeee #dddddd #eeeeee #eeeeee;
    color: black;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
    border-color: #ddd transparent #ddd #ddd;
    border-right-color: #ffffff;
    color: black;
}

.after:after {
    content: "";
    display: table;
    clear: both;
}

.margins {
    border: 2px solid #4cae4c;
    border-radius: 9px;
}


.fondogris {
    padding: 15px;
    position:absolute;
    top:260px;
    height: 90px;
    width: 276px;
    background-color: rgba(0, 0, 0, 0.6);
    background: rgba(0, 0, 0, 0.6);
    color: rgba(0, 0, 0, 0.6);
    text-align:left;
    font-family: Helvetica !important;
    font-weight:400;
    line-height: 0.8;
    font-size: 30px !important;
    color:#fff;
}

.ambiente {
    position: relative;
    width: 302px;
    height: 332px;
    margin-right: 4px;
    padding: 0px;
    overflow: hidden;
    font-family: Helvetica !important;
}

hr {
    height: 2px;
    background-color:#1b6d85;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 99%;
}

.buy-box{
	padding:0 5px 15px 5px;
	border-style:dotted;
	margin-bottom: 18px;
	border-width: 2px;
}

.selectedCategory{
    box-shadow: 0 0 10px #78D74C;
    border: 5px solid #78D74C;
}

.selectedCategory img {
	filter: grayscale(0) blur(0px);
	-webkit-filter: grayscale(0) blur(0px);
}

.hr {
    border: none;
    height: 4px;
    /* Set the hr color */
    color: whitesmoke; /* old IE */
    background-color: whitesmoke; /* Modern Browsers */
    width: 80%;
}

.item{
	/*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
	padding-top:95px;
	font-size: 30px;
	font-weight:bold; text-align:center;
	color: white;
	margin-bottom: 10px;
	background-position: center center;
	height:350px;
	width:100%;
	background-size: cover;
	background-repeat: no-repeat;
	text-transform: uppercase;
}

::-webkit-file-upload-button { cursor:pointer; }
input[type="file"] {
    cursor: pointer;
}

.ui-sortable-placeholder{
    float:left;
    margin-right: 10px;
}

.image-delete{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
	padding: 2px 4px;
	border: 1px solid white;
}
.image-container{
	border: 1px solid white;
}
.image-container:hover{
	border: 1px solid red;
	border-radius: 4px;
}
.image-container:hover .image-delete{
	display: block;
}

.btn-toolbar>.btn, .btn-toolbar>.btn-group, .btn-toolbar>.input-group {
	margin-left: 3px;
}

.glyphicon-refresh-animate {
	animation: spin .7s infinite linear;
	margin-right: 7px;
}

@keyframes spin {
	from { transform: scale(1) rotate(0deg);}
	to { transform: scale(1) rotate(360deg);}
}