a{
	color:inherit;
}

a:focus, a:hover, a:active {
	text-decoration: none;
	color:inherit;
}

.left-menu{
	width: 200px;
	background-color: #334863;
	min-height: 100%;
	float:left;
	position: fixed;
	overflow: auto;
	z-index: 99;
}

.content{
	width: calc(100% - 200px);
	float:left;
	min-width: 700px;
	background-color: #F0F0F0;
	min-height: 100%;
	display: inline-block;
}

.parent{
	min-width: 900px;
}

.left-menu-top{
	background-color: #2CB510;
	text-transform: uppercase;
	color: white;
	text-align: center;
	font-size: 12px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.left-menu-top img{
	max-height: 45px;
	max-width: 45px;
	margin-right: 10px;
}

.left-menu-content{
	margin-top: 20px;
}

.left-menu-item{
	color: white;
	font-size: 13px;
	height: 45px;
	padding-top: 14px;
	padding-bottom: 14px;
	margin-bottom: 10px;
}

.left-menu-item i{
	font-size: 21px;
	margin-left: 30px;
	margin-right: 12px;
	vertical-align:middle;
	margin-top: -5px;
}

.left-menu-item.active i{
	color: #2CB510;
}

.left-menu-item.active {
	background-color: #253147;
}
.left-menu-item:hover {
	background-color: #253147;
}

.menu-item-right{
	display: inline-block;
}

.menu-image{
	margin: auto;
	width: 40px;
	margin-top: 5px;
}

.menu-text-box{
	background-color: black;
	color: white;
	border-radius: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-top: 5px;
	width: 65px;
}
.content-top{
	background-color: white;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 30px;
	padding-right: 30px;
}

.content-top:after {
	content: "";
	display: table;
	clear: both;
}

.content-top-img{
	max-width: 75px;
	max-height: 75px;
	margin-right: 25px;
	vertical-align: top;
}

.content-top-name{
	color: #2CB510;
	margin-top: 10px;
	margin-bottom: 0px;
	font-size: 18px;
}
.content-top-title{
	color: #858585;
	font-size: 12px;
}

html, body {
	height: 100%
}

.content-top-menu{
	margin-top: 30px;
}

.content-top-menu-item{
	display:inline-block;
	text-align: center;
	height:28px;
	color:#858585;
	letter-spacing: 1px;
	font-size: 13px;
	padding-left: 9px;
	padding-right: 9px;
}

.content-top-menu-item.active,
.content-top-menu-item:hover
{
	border-bottom: solid #2CB510 4px;
	color: #2CB510;
}


.spacer {
	clear: both;
}

.content-top-menu a{
	display: inline-block;
	margin-right: 30px;
}

.panel{
	width: calc(100% - 12%);
	margin: 20px 6% 20px 6%;
}

.panel-content{
	padding: 20px;
}

.panel-top:after {
	content: "";
	display: table;
	clear: both;
}

.panel-top{
	padding: 10px 20px 10px 20px;
}

.panel-title{
	float: left;
	color: #858585;
	font-size: 15px;
	vertical-align: middle;
}

.panel-filter{
	float: right;
	font-weight:bold;
}

.panel-filter-title{
	color: #2CB510;
}

hr{
	margin: 0;
}

.add-event{
	color: #2CB510;
	margin-bottom: 15px;
	display: inline-block;
}
.add-event i {
	font-size: 23px;
	vertical-align: middle;
	margin-right: 5px;
}

.fc-month-view .fc-scroller {
	overflow-y: hidden !important;
}

.client-left{
	float: left;
	padding-left: 15px;
}
.client-right{
	float: right;
	padding-right: 15px;
}

.client-name{
	color: #2CB510;
}
.client-address{
	color: #858585;
	font-size: 13px;
}

.menu-item-right .dropdown-menu{
	background-color: black;
	padding: 0;
	padding-bottom: 5px;
	margin: 0;
}

.menu-item-right .dropdown-menu>li>a{
	font-size: 14px;
	background-color: black;
	color: white;
	padding: 6px 6px 0 20px;
}

.dropdown:hover .dropdown-menu {
	display: block;
	margin-top: 0;
}
.menu-item-right .dropdown-menu>li>a:after{
	display: block;
	content: '';
	width: calc(100% - 20px);
	height: 2px;
	background-color: white;
	margin-top: 4px;
}

.dropdown-menu>li:last-child>a:after {
	display:none;
}

.clients-rows{
	background-color: white;
	border-left: 1px solid lightgrey;
	border-right: 1px solid lightgrey;
}

.clients-rows .col-sm-6{
	min-height: 50px;
	padding: 15px 5px 15px 5px;
	font-weight: bold;
	text-align: center;
	border-bottom: 1px solid lightgrey;
}

.clients-rows .col-sm-12 a{
	color:#2CB510;
}
.clients-rows .col-sm-12 {
	height: 30px;
	padding-top: 5px;
	outline: 1px solid lightgrey;
}

.clients-header{
	height: 83px;
	color:#858585;
	text-align: center;
	padding-top: 10px;
	border-bottom: 1px solid lightgrey;
}

.clients-header.active{
	background-color: white;
	color: #2CB510;
	border-left: 1px solid lightgrey;
	border-top: 1px solid lightgrey;
	border-right: 1px solid lightgrey;
	border-bottom: 0;
}


.clients-number{
	font-size: 30px;
}

.clients-text{
	font-size: 12px;
}

.clients-name{
	color:#858585;
	font-weight: lighter !important;
}

.visits-header{
	background-color: white;
	height: 40px;
	color: #858585;
	padding: 10px 20px;
	font-size: 15px;
	outline: 1px solid lightgrey;
}

.visits-row{
	background-color: white;
	padding: 11px 10px 11px 20px;
	vertical-align: middle;
	min-height: 50px;
	color:#858585;
	outline: 1px solid lightgrey;
}

.visits-row .img-circle{
	max-height: 30px;
	max-width: 30px;
	margin-right: 15px;
}

.visits-row .pull-right{
	padding-top: 5px;
	font-size: 13px;
}

.visits {
	/* border: 1px solid lightgrey; */
	outline: 1px solid lightgrey;
}

.visits .text-right{
	background-color: white;
	height: 30px;
	padding-top: 5px;
	outline: 1px solid lightgrey;
}

.visits .text-right a{
	color: #2CB510;
}

.visits-agent{
	color: #2CB510;
}

.visits-row2{
	background-color: white;
	padding: 11px 10px 11px 20px;
	vertical-align: middle;
	color:#858585;
	outline: 1px solid lightgrey;
	text-align: justify;
}
.visits-row2.details{
	color:black;
}
.visits-row2 .img-circle{
	max-height: 40px;
	max-width: 40px;
	margin-right: 0px;
}

.visits-row2 .pull-right{
	padding-top: 5px;
	font-size: 13px;
	color: #858585;
}

.visits-row2 .visits-agent{
	margin-left: 14px;
}

.visits-description{
	margin-left: 58px;
	margin-right: 20px;
}

.visits-thumb{
	display: inline-block;
	margin-right: 25px;
	margin-bottom: 15px;
}

.visits-thumb img{
	max-height: 100px;
}

.visits-pics{
	margin-top: 15px;
	margin-left: 70px;
}
.equal {
	display: flex;
	flex-wrap: wrap;
}

.equal > div[class*='col-'] {
	display: flex;
	flex-direction: column;
}

.visit-title-info{
	color: #858585;
	font-size: 14px;
}

.visit-details-row{
	margin-bottom: 14px;
}

.visit-title-info-image{
	color: #2CB510;
	margin-bottom: 9px;
}

.visit-title-info-image .expanded{
	height: 12px;
	margin-right: 10px;
}
.collapsed .visit-title-info-image .expanded{
	display: none;
}

.visit-title-info-image .hiddenm{
	display: none;
	height: 17px;
	margin-right: 12px;
}
.collapsed .visit-title-info-image .hiddenm{
	display: inline-block;
}
.visit-details-section-title {
	color: #54ce36;
	text-decoration: underline;
	margin-bottom: 5px;
}

.img-stats{
	width: 30px;
}




/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */

#map {
	height: calc(100% - 92px);

}

#floating-panel {
	position: absolute;

	z-index: 5;
	background-color: #fff;
	padding: 5px;
	border: 1px solid #999;
	text-align: center;
	font-family: 'Roboto', 'sans-serif';
	line-height: 18px;
	margin-bottom: 9px;
	width: 400px;
}

.delete-menu {
	position: absolute;
	background: white;
	padding: 3px;
	color: #666;
	font-weight: bold;
	border: 1px solid #999;
	font-family: sans-serif;
	font-size: 12px;
	box-shadow: 1px 3px 3px rgba(0, 0, 0, .3);
	margin-top: -10px;
	margin-left: 10px;
	cursor: pointer;
}
.delete-menu:hover {
	background: #eee;
}


.controls {
	margin-top: 10px;
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#origin-input,
#destination-input {
	background-color: #fff;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	margin-left: 12px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 200px;
}

#origin-input:focus,
#destination-input:focus {
	border-color: #4d90fe;
}

#mode-selector {
	color: #fff;
	background-color: #4d90fe;
	margin-left: 12px;
	padding: 5px 11px 0px 11px;
}

#mode-selector label {
	font-family: Roboto;
	font-size: 13px;
	font-weight: 300;
}

input:disabled
{
	cursor: not-allowed;
}

.map-preview{
	width: 100%;
	height: 200px;
}
.track-preview{
	text-align: center;
}

.track-name{
	margin-top: 5px;
	font-weight: bold;
}

.dataPoint{
	transition: all 0.5s ease;
	background-color: white;
	margin: 3px;
	padding: 3px 10px;
	cursor: pointer;
}

.dataPoint:hover{
	margin: 3px 0;
	background-color: #e1e1e1;
}

.dataPointRight{
	float: right;
	color: darkgrey;
}

#simulationDataPanel{
	height: calc(100% - 92px);
	padding: 3px;
}

#simulationData{
	height: calc(100% - 66px);
	overflow: auto;
}

#simulationControl{
	text-align: center;
	padding: 0 20px;
}

#simulationDataPoint{
	height: calc(100% - 92px);
	padding: 5px;
}

.simulations{
	padding-top: 10px;
}

#form-point input{
	display: inline;
}

.form-input{
	text-align: left;
}

.form-input input:first-of-type{
	width: 60%;
}

.form-input input:nth-of-type(2){
	width: 20%;
}

.form-input-text{
	width: 17%;
	display: inline-block;
	text-align: center;
	font-weight: bold;
}

.opt-group{
	display: inline-block;
	width:32%;
	text-align: center;
}